<html>
    <head>
    {% block head %}
        <title>{% block title %}{% endblock %} - Lizzie App!</title> 
    {% endblock %}

    {% block scripts %}
    {% endblock %}
</head>
<body>
    {% block body %}
        {% block nav_bar %} {% endblock %}

        {% block content %}
            <div class="container">
                {% block page_content %}{% endblock %}
             </div>
        {% endblock %}
        
        {% block footer %} {% endblock %}

    {% endblock %}
</body>
</html>