<html>
    <head>
        {% block head %}
            <link href='../static/css/css.css' rel="stylesheet" type="text/css"> 
            <title>{% block title %}{% endblock %} - Lizzie App!</title> 
        
            {% block scripts %}{% endblock %}
        {% endblock %}
    </head>
    <body>
        {% block content %}
            {% block nav %}
                {% include "views/nav.html" %}
            {% endblock %}

            {% block page_content %}{% endblock %}
            {% block footer %}
                {% include "views/footer.html" %}
            {% endblock %}
        {% endblock %}
    </body>
</html>