@font-face {
    font-family: 'Josefin Sans' ;
    src :   url(../fonts/JosefinSans-Bold.ttf);
}
.font-josefin {font-family: 'Josefin Sans';}

@font-face {
    font-family: 'Raleway' ;
    src :   url(../fonts/Raleway-ExtraLight.ttf);
}
.font-raleway {font-family: 'Raleway';}

@font-face {
    font-family: 'Montserrat' ;
    src :   url(../fonts/Montserrat-Regular.ttf);
}
.font-montserrat {font-family: 'Montserrat';}

@font-face {
    font-family: 'Prototype' ;
    src :   url(../fonts/Prototype.ttf);
}
.font-prototype {font-family: 'Prototype'}

/* Font-size */
.font-8p {font-size: 8px;}
.font-10p {font-size: 10px;}
.font-20p {font-size: 20px;}
.font-30p {font-size:30px;}
.font-50p {font-size: 50px;}

.font-col-white {color:white}
.font-col-black {color: black}
.font-col-gray {color: gray}