* {
    margin:0;
    padding: 0;
}

body {
    height:100%;
    /* background-image: linear-gradient(125deg,#08AEEA, #2AF598,);
    background-repeat: no-repeat; */
    background-image: linear-gradient(90deg,hsl(182, 100%, 39%),#0086ad,#005582);
    background-size: 1000%;
    animation: bganimation 60s infinite;
    overflow: hidden;
}

@keyframes bganimation {
    0% {background-position: 0%, 50%;}
    50% {background-position: 100%, 50%;}
    100% {background-position: 0%, 50%;}
}

a {
    text-decoration: none;
    font-family: 'Raleway';
    text-emphasis-color: none;
}

a:link, a:active, a:visited {
    color: white;
}

.bg-color-black {
    background-color: black;
}

.bg-color-white {
    background-color: white;
}