{% from "macros.html" import navLink with context %}

<div class='nav-container'>
    <div class='nav-left'>
        <div class='nav-logo'> 
            <img height = 30px width= 30px src="https://img.icons8.com/dotty/50/000000/computers-connecting.png">
        </div>
        <div class='nav-title font-josefin font-30p font-col-black'>LIZZIE</div>
    </div>
    <div class='nav-mid'>
        <ul class='nav-list'>
            {{ navLink('home', 'Home')}}
            {{ navLink('products','Product')}}
            {{ navLink('about','About')}}

        </ul>
    </div>
    <div class='nav-right'>
        <div class='nav-lang'>
            
        </div>
        <div class='nav-settings'>

        </div>
    </div>
</div>